@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 800; /* Defines the range of weights available in this file */
  font-style: normal;
  font-display: swap; /* This ensures text is visible while the font is loading */
}

/* Italic style */
@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}